@use '@angular/material' as mat;
@import '../../../styles.scss';

.char-box{
  margin: 1rem;
  height: 12rem;
  width: 12rem;
  border: 5px solid mat.get-color-from-palette(mat.$gray-palette, 900);
  border-radius: 10px;
  padding-top: 10px;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 700);

  &:hover{
    background-color: mat.get-color-from-palette(mat.$gray-palette, 800);
    img, p{
      opacity: 50%;
    }

    cursor: pointer;
  }

  .char-box-content{
    text-align: center;

    img{
      width: 10rem;
      border-radius: 5px;
    }

    p{
      text-align: center;
    }
  }

}
