<div class="container" id="hi">
  <div class="border-primary bg-faded">
    <div class="border m-3 p-4">
      <div class="row">
        <div class="col text-center">
           <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/44041546_MgdIF2v033TzjPr.png" class="img-thumbnail rounded-circle">
            <a href="https://www.furaffinity.net/user/gorezing/"><i class="fa fa-paint-brush"></i> Gorezing</a>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col font-weight-bold">
              <h1 class="text-primary">Teddy</h1>
            </div>
            <div class="col text-center">
              <h1 class="text-primary">20</h1>
            </div>
            <div class="col text-right">
              <h1 class="text-primary">Female</h1>
            </div>
          </div>
          <div class="bg-primary mb-2" style="height:2px; width:100%;"></div>
          <p class="text-justify">
            Teddy is my fursona and fully based on me. She is a very quiet, introverted person. Her hobbies are playing a lot of video games (especially Shooter/Survival), drawing and writing stories.<br>
            She needs time to adjust to new people. When meeting new people she will first stay in the background, observe and later (can be hours or even days) will join the conversation. On the internet this behaviour can also be seen, but she can adjust much quicker and thus has the opportunity to talk to people she normally may not.<br>
            She grew up in a small village in the house of her parents. They always had pets (some cat equivalent in my story, to be made). As a child she spend a lot of time in the forests around the village.
          </p>
        </div>
        <div class="col">
          <a class="btn btn-primary btn-block" data-toggle="collapse" href="#general" role="button" aria-expanded="false" aria-controls="general">
              General
          </a>
          <a class="btn btn-primary btn-block mt-2" data-toggle="collapse" href="#personality" role="button" aria-expanded="false" aria-controls="personality">
              Personality
          </a>
          <a class="btn btn-primary btn-block mt-2" data-toggle="collapse" href="#interests" role="button" aria-expanded="false" aria-controls="interests">
              Interests
          </a>
          <a class="btn btn-primary btn-block mt-2" data-toggle="collapse" href="#appearance" role="button" aria-expanded="false" aria-controls="appearance">
              Appearance
          </a>
          <a class="btn btn-primary btn-block mt-2" data-toggle="collapse" href="#reference" role="button" aria-expanded="false" aria-controls="reference">
              Reference
          </a>
          <a class="btn btn-primary btn-block mt-2" data-toggle="collapse" href="#feral-reference" role="button" aria-expanded="false" aria-controls="feral-reference">
              Feral Reference
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
