<h2 class="text-primary mb-2">Appearance</h2>
<div class="bg-primary mb-2" style="height:2px; width:100%;"></div>
<div class="row">
  <p>{{appearance.appearanceInfo}}</p>
  <div class="col-8 text-justify">
    <h2 class="text-primary mb-2 mt-2"><i class="fa fa-memo-pad"></i> Design Notes</h2>
    <div class="bg-primary mb-2" style="height:2px; width:100%;"></div>
    <p>{{appearance.designNotes}}</p>
  </div>
  <div class="col">
    <h2 class="text-primary mb-2 mt-2"><i class="far fa-lightbulb"></i> Colors</h2>
    <div class="bg-primary mb-2" style="height:2px; width:100%;"></div>
    <div class="ml-3 mr-3">
      <div *ngFor="let color in appearance.colors" class="row rounded" style="background-color:#FFFFFF;color:#000000">
        <div class="col">
          Main fur
        </div>
        <div class="col text-right">
          #FFFFFF
        </div>
      </div>
    </div>
  </div>
</div>
