@use '@angular/material' as mat;
@import '../../../styles.scss';

.search-bar{
  width: 100%;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 900);
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;

  .search-input{
    width: 75%;
    border-radius: 5px;
  }
}
